.lingkaran {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius: 50%;
}

.lonjong {
    width: 200px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
}

.genjang {
    width: 100px;
    height: 100px;
    background-color: tomato;
    transform: skew(-20deg);
}